$pink: #fa7c91;
$green: #36eb3f;
$grey-dark: #333333;
$grey-light: #d0d1cd;
$grey-lighter: #eff0eb;
$background: #131313;
$purple: #b43c8c;
$neon-blue: #00ffff;
$neon-pink: #ff00ff;
$neon-green: #00ff00;
$neon-yellow: #ffff00;
