---
import RightSection from '../RightSection.astro';
import LogosList from './LogosList.astro';
---

<RightSection>
  <h1 class='text-3xl font-bold'>Skills</h1>
  <p>
    I am a full-stack software developer with years of experience, specializing
    in web development. With comprehensive expertise in end-to-end development
    processes across multiple industry sectors, I have served as a technical
    leader and embarked on several entrepreneurial ventures that I co-founded.
  </p>
  <br />
  <p>
    <strong
      >I possess experience working with the following technologies:</strong
    >
  </p>
  <LogosList />
</RightSection>
