---
import RightSection from '../RightSection.astro';
import LogosList from './LogosList.astro';
---

<RightSection>
  <h1 class='text-3xl font-bold'>Skills</h1>
  <p>
    I specialize in <b>engineering and development</b>, with a strong passion
    for solving complex technical challenges and building scalable, efficient
    applications.
  </p>
  <p>
    Over the years, I’ve also <b
      >co-founded a couple of entrepreneurial ventures</b
    > across diverse industries, where I combined my technical expertise with innovative
    problem-solving to deliver impactful solutions.
  </p>
  <p>
    I thrive in hands-on roles, focusing on crafting exceptional code and
    exploring cutting-edge technologies.
  </p>
  <br />
  <p>
    <b>Technologies I love working with include:</b>
  </p>
  <LogosList />
</RightSection>
