---
const technologies = [
  { icon: 'devicon-python-plain', name: 'Python' },
  { icon: 'devicon-javascript-plain', name: 'JavaScript' },
  { icon: 'devicon-typescript-plain', name: 'TypeScript' },
  { icon: 'devicon-astro-plain', name: 'Astro' },
  { icon: 'devicon-html5-plain', name: 'HTML' },
  { icon: 'devicon-css3-plain', name: 'CSS' },
  { icon: 'devicon-sass-original', name: 'Sass' },
  { icon: 'devicon-bootstrap-plain', name: 'Bootstrap' },
  { icon: 'devicon-linux-plain', name: 'Linux' },
  { icon: 'devicon-react-original', name: 'React' },
  { icon: 'devicon-nodejs-plain', name: 'Node.js' },
  { icon: 'devicon-mysql-original', name: 'MySQL' },
  { icon: 'devicon-bash-plain', name: 'Bash' },
  { icon: 'devicon-django-plain', name: 'Django' },
  { icon: 'devicon-elasticsearch-plain', name: 'Elasticsearch' },
  { icon: 'devicon-flask-original', name: 'Flask' },
  { icon: 'devicon-bulma-plain', name: 'Bulma' },
  { icon: 'devicon-webpack-plain', name: 'Webpack' },
  { icon: 'devicon-nginx-original', name: 'nginx' },
  { icon: 'devicon-jquery-plain', name: 'jQuery' },
  { icon: 'devicon-docker-plain', name: 'Docker' },
  { icon: 'devicon-redux-original', name: 'Redux' },
  { icon: 'devicon-electron-original', name: 'ElectronJS' },
  { icon: 'devicon-amazonwebservices-plain-wordmark', name: 'AWS' },
  { icon: 'devicon-materialui-plain', name: 'MaterialUI' },
  { icon: 'devicon-djangorest-plain', name: 'Django REST' },
  { icon: 'devicon-git-plain', name: 'Git' },
  { icon: 'devicon-postgresql-plain', name: 'PostgreSQL' },
  { icon: 'devicon-tailwindcss-plain', name: 'Tailwind CSS' },
];
---

<div
  class='flex pt-8 overflow-hidden text-center text-xl text-indigo-900 space-x-10 -mx-5'
>
  <ul class='flex animate-scroll space-x-10'>
    {
      technologies.map((tech) => (
        <li>
          <div class='w-[150px]'>
            <p class='text-4xl'>
              <i class={tech.icon} />
            </p>
            <p>{tech.name}</p>
          </div>
        </li>
      ))
    }
  </ul>
  <ul class='flex animate-scroll space-x-10' aria-hidden='true'>
    {
      technologies.map((tech) => (
        <li>
          <div class='w-[150px]'>
            <p class='text-4xl'>
              <i class={tech.icon} />
            </p>
            <p>{tech.name}</p>
          </div>
        </li>
      ))
    }
  </ul>
</div>

<style>
  @import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');

  .animate-scroll {
    animation: scroll 40s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
