---

---

<section class='bg-white w-fit p-5 m-10 rounded-md lg:ml-auto'>
  <h1 class='text-xl'>About Me</h1>
  <p>
    I love well implemented technology at the service of society.
    <br />
    I'm always seeking for new interesting challenges from which to grow professionally;
    improving practices and learning new technologies.
  </p>
  <br />
  <p>
    As George Bernard Shaw once said: “The people who get on in this world are
    the people who get up and look for the circumstances they want, and if they
    can't find them, make them”.
    <br />
    This insightful perspective fuels my passion for continuous learning, pushing
    me to enhance my skills and evolve every day.
  </p>
  <br />
  <p><b>I'm a fan of doing things right.</b></p>
</section>
