---
import LeftSection from './LeftSection.astro';
import TimelineItem from './TimelineItem.astro';
---

<LeftSection>
  <h1 class='text-3xl font-bold'>Experience</h1>
  <p>
    A couple of succesful projects I collaborate on, and a few more I’m working
    on.
    <br />
    <a href='#aboutme-target' class='text-indigo-800'
      >Download my CV to see more</a
    >
  </p>
  <section class='relative flex flex-col overflow-hidden'>
    <div class='w-full max-w-6xl mx-auto px-4 md:px-6'>
      <div class='flex flex-col justify-center divide-y [&>*]:py-16'>
        <div class='w-full max-w-3xl mx-auto'>
          <div
            class='space-y-8 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px md:before:mx-auto md:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-300 before:to-transparent'
          >
            <TimelineItem
              title='Cybersecurity SaaS'
              date='2018'
              description={`Participated in the architectural migration of a monolithic
                        application to a web service-oriented architecture. Mainly in charge of the front-end development.`}
              tags={[
                'Django REST Framework',
                'MySQL',
                'JQuery',
                'Handlebars',
                'Bootstrap',
                'Sass',
              ]}
            />
            <TimelineItem
              title='Food industry platforms group'
              date='2019'
              description={`Worked eliminating technical debt in a monolithic application. Later
                        developing new features and a whole new application to fulfill business needs. Focusing on logistics and grouping orders for costs optimization.`}
              tags={['Django', 'PostgreSQL', 'React', 'Redux', 'Material UI']}
              <
              div
            />
          </div>
        </div>
      </div>
    </div>
  </section></LeftSection
>
