---
import LeftSection from './LeftSection.astro';
import ProjectCard from './ProjectCard.astro';
---

<LeftSection>
  <h1 class='text-3xl font-bold'>Experience</h1>
  <p>
    I'm a software engineer who loves to build things. I'm passionate about
    open-source, and I love to contribute to the community. I'm also a
    self-taught designer and I love to create beautiful things.
  </p>
  <div>
    <div class='pt-8 pb-5 overflow-x-scroll whitespace-nowrap -mx-5'>
      <ul class='flex text-center'>
        <!-- Project Item Start -->
        <li class='inline-block mx-2'>
          <ProjectCard
            title='Project 1'
            description='Description of project 1'
            link='https://example.com'
          />
        </li>
        <!-- Project Item End -->
        <!-- Project Item Start -->
        <li class='inline-block mx-2'>
          <ProjectCard
            title='Project 2'
            description='Description of project 2'
            link='https://example.com'
          />
        </li>
        <!-- Project Item End -->
      </ul>
    </div>
  </div>
</LeftSection>
