---
import { Image } from 'astro:assets';
import me from '../images/fausto_marquez.jpeg';
---

<header class='w-fit fixed m-4 left-1/2 transform -translate-x-1/2'>
  <h1
    class='text-5xl font-bold bg-gradient-to-tr from-rose-100/70 to-rose-100/50 border-2 border-rose-600/20 rounded-xl p-5 pb-12'
  >
    Fausto Márquez
  </h1>
  <h2 class='text-xl text-center bg-gradient-to-tr -mt-10'>
    senior full-stack web developer
  </h2>
  <figure class='w-full'>
    <Image
      src={me}
      class='absolute -right-16 -bottom-20 w-32 h-32 rounded-full border-2 border-rose-600/20'
      alt='Fausto Márquez'
    />
  </figure>
</header>
