<header class="w-fit relative">
  <h1 class="text-5xl font-bold text-blue-600 -ml-1">
    <span class="inline-block bg-yellow-400 rounded px-3 py-3">
      Fausto Márquez
    </span>
  </h1>
  <h2 class="text-xl text-gray-600 -ml-1">
    <span class="inline-block bg-yellow-400 rounded px-4 py-2">
      tech lead | full-stack web developer
    </span>
  </h2>
  <figure class="absolute top-0 right-0">
    <img
      class="w-32 h-32 rounded-full"
      src="https://bulma.io/assets/images/placeholders/128x128.png"
      alt="Profile Picture"
    />
  </figure>
</header>
