---
import { Image } from 'astro:assets';
import me from '../assets/images/fausto_marquez.jpeg';
---

<header class='w-fit fixed mt-3 left-1/2 transform -translate-x-1/2 z-20'>
  <div
    class='font-bold bg-gradient-to-tr from-indigo-100/70 to-indigo-100/50 border-2 border-indigo-600/20 rounded-xl p-5 pb-12 backdrop-blur-sm'
  >
    <h1 class='text-4xl md:text-5xl'>Fausto Márquez</h1>
    <h2 class='text-lg md:text-xl -mb-7'>senior full-stack web developer</h2>
  </div>

  <figure class='w-full'>
    <Image
      src={me}
      class='absolute -right-14 -bottom-14 md:-bottom-20 w-28 h-28 md:w-32 md:h-32 rounded-full border-2 border-indigo-600/20'
      alt='Fausto Márquez'
    />
  </figure>

  <div id='social-links' class='absolute flex items-center gap-2 mt-1'>
    <a
      href='https://github.com/faustom721'
      target='_blank'
      rel='noopener'
      class='flex items-center gap-2 bg-gradient-to-tr from-indigo-100/70 to-indigo-100/50 border-2 border-indigo-600/20 rounded-lg p-2 px-4 backdrop-blur-sm transition-transform hover:scale-105'
    >
      <i class='devicon-github-original text-xl'></i>
      <span class='text-sm font-medium hidden md:inline'>GitHub</span>
    </a>
    <a
      href='https://linkedin.com/in/faustom721'
      target='_blank'
      rel='noopener'
      class='flex items-center gap-2 bg-gradient-to-tr from-indigo-100/70 to-indigo-100/50 border-2 border-indigo-600/20 rounded-lg p-2 px-4 backdrop-blur-sm transition-transform hover:scale-105'
    >
      <i class='devicon-linkedin-plain text-xl'></i>
      <span class='text-sm font-medium hidden md:inline'>LinkedIn</span>
    </a>
  </div>
</header>

<style>
  header {
    transition:
      margin-top 0.3s ease,
      transform 0.3s ease;
  }

  header.scrolled {
    margin-top: -10px; /* Remove the top margin */
  }

  header h2 {
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  header.scrolled h2 {
    opacity: 0; /* Hide the "senior web developer" part */
    height: 0;
    transform: translateY(
      -20px
    ); /* Add a slight upward movement for a smooth effect */
  }

  header.scrolled #social-links {
    opacity: 0; /* Hide the social links */
    transform: translatex(
      40px
    ); /* Add a slight upward movement for a smooth effect */
  }
  header #social-links {
    transition: transform 0.3s ease;
  }

  figure {
    transition:
      transform 0.5s ease,
      bottom 0.5s ease;
  }

  header.scrolled figure {
    transform: scale(0.8) translateY(-5px) translateX(30px); /* move and make the profile image smaller */
  }
</style>

<script>
  window.addEventListener('scroll', () => {
    const header = document.querySelector('header');
    console.log('scroll', window.scrollY);
    console.log(header);
    if (window.scrollY > 50) {
      header?.classList.add('scrolled');
    } else {
      header?.classList.remove('scrolled');
    }
  });
</script>
