---
import Button from './Button.astro';
const { title, description, image } = Astro.props;
---

<div
  class='bg-zinc-100 p-3 max-w-md border-2 border-indigo-600/20 rounded-lg flex flex-col items-center
    transition-all duration-300 hover:-rotate-1 hover:shadow-lg'
>
  <img
    src='https://loremflickr.com/800/600/girl'
    class='rounded-lg'
    loading='lazy'
  />
  <div class='pt-8 p-5'>
    <h4 class='font-bold text-xl'>{title}</h4>
    <p class='mt-2 text-gray-600'>
      {description}
    </p>
    <div class='mt-5'>
      <Button text='View Project' />
    </div>
  </div>
</div>
