---
import RightSection from './RightSection.astro';
const yearsOfExperience = new Date().getFullYear() - 2018;
---

<RightSection>
  <h1 class='text-3xl font-bold'>Skills</h1>
  <p>
    I am a full-stack software developer with {yearsOfExperience} years of experience,
    specializing in web development. With comprehensive expertise in end-to-end development
    processes across multiple industry sectors, I have served as a technical leader
    and embarked on several entrepreneurial ventures that I co-founded.
  </p>
  <br />
  <p>
    <strong
      >I possess experience working with the following technologies:</strong
    >
  </p>
  <div class='pt-8 overflow-hidden whitespace-nowrap bg-white'>
    <ul class='flex animate-scroll text-center'>
      <!-- Technology Item Start -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-python-plain'></i>
          </p>
          <p class='text-xl'>Python</p>
        </div>
      </li>
      <!-- Technology Item -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-javascript-plain'></i>
          </p>
          <p class='text-xl'>JavaScript</p>
        </div>
      </li>
      <!-- Technology Item -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-typescript-plain'></i>
          </p>
          <p class='text-xl'>TypeScript</p>
        </div>
      </li>
      <!-- Technology Item -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-astro-plain'></i>
          </p>
          <p class='text-xl'>Astro</p>
        </div>
      </li>
      <!-- Technology Item -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-html5-plain'></i>
          </p>
          <p class='text-xl'>HTML5</p>
        </div>
      </li>
      <!-- Continue adding technology items as per your original list -->
      <!-- CSS3 -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-css3-plain'></i>
          </p>
          <p class='text-xl'>CSS3</p>
        </div>
      </li>
      <!-- Sass -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-sass-original'></i>
          </p>
          <p class='text-xl'>Sass</p>
        </div>
      </li>
      <!-- Bootstrap -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-bootstrap-plain'></i>
          </p>
          <p class='text-xl'>Bootstrap</p>
        </div>
      </li>
      <!-- Linux -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-linux-plain'></i>
          </p>
          <p class='text-xl'>Linux</p>
        </div>
      </li>
      <!-- React -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-react-original'></i>
          </p>
          <p class='text-xl'>React</p>
        </div>
      </li>
      <!-- Node.js -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-nodejs-plain'></i>
          </p>
          <p class='text-xl'>Node.js</p>
        </div>
      </li>
      <!-- MySQL -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-mysql-original'></i>
          </p>
          <p class='text-xl'>MySQL</p>
        </div>
      </li>
      <!-- Bash -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-bash-plain'></i>
          </p>
          <p class='text-xl'>Bash</p>
        </div>
      </li>
      <!-- Django -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-django-plain'></i>
          </p>
          <p class='text-xl'>Django</p>
        </div>
      </li>
      <!-- Flask -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-flask-original'></i>
          </p>
          <p class='text-xl'>Flask</p>
        </div>
      </li>
      <!-- Bulma -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-bulma-plain'></i>
          </p>
          <p class='text-xl'>Bulma</p>
        </div>
      </li>
      <!-- Webpack -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-webpack-plain'></i>
          </p>
          <p class='text-xl'>Webpack</p>
        </div>
      </li>
      <!-- Nginx -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-nginx-original'></i>
          </p>
          <p class='text-xl'>nginx</p>
        </div>
      </li>
      <!-- jQuery -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-jquery-plain'></i>
          </p>
          <p class='text-xl'>jQuery</p>
        </div>
      </li>
      <!-- Docker -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-docker-plain'></i>
          </p>
          <p class='text-xl'>Docker</p>
        </div>
      </li>
      <!-- Redux -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-redux-original'></i>
          </p>
          <p class='text-xl'>Redux</p>
        </div>
      </li>
      <!-- ElectronJS -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-electron-original'></i>
          </p>
          <p class='text-xl'>ElectronJS</p>
        </div>
      </li>
      <!-- AWS -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-amazonwebservices-plain-wordmark'></i>
          </p>
          <p class='text-xl'>AWS</p>
        </div>
      </li>
      <!-- MaterialUI -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-materialui-plain'></i>
          </p>
          <p class='text-xl'>MaterialUI</p>
        </div>
      </li>
      <!-- Django REST -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-djangorest-plain'></i>
          </p>
          <p class='text-xl'>Django REST</p>
        </div>
      </li>
      <!-- Git -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-git-plain'></i>
          </p>
          <p class='text-xl'>Git</p>
        </div>
      </li>
      <!-- PostgreSQL -->
      <li class='inline-block'>
        <div class='w-[150px]'>
          <p class='text-4xl'>
            <i class='devicon-postgresql-plain'></i>
          </p>
          <p class='text-xl'>PostgreSQL</p>
        </div>
      </li>
      <!-- Add more items if needed -->
    </ul>
  </div>

  <style>
    @import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');

    .animate-scroll {
      animation: scroll 60s linear infinite;
    }

    @keyframes scroll {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-200%);
      }
    }
  </style>
</RightSection>
