---
const { title } = Astro.props;

const wip = true;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
      @import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');
    </style>
  </head>
  <body class='font-pixelify text-gray-800'>
    <div
      class='absolute inset-0 h-fit min-w-full bg-zinc-200 bg-[linear-gradient(to_right,#C5C5C5,transparent_1px),linear-gradient(to_bottom,#C5C5C5,transparent_1px)] bg-[size:12px_12px] -z-10'
    >
      <slot />
    </div>
    { wip && (
      <div
        class='fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-10 overflow-hidden'
      >  
        <p class='text-white text-2xl font-bold'>
          Work in progress
          <>
            <span class='dot-1'>.</span>
            <span class='dot-2'>.</span>
            <span class='dot-3'>.</span>
          </>
        </p>
        <style>
          @keyframes blink {
            0%,
            100% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
          }
          .dot-1 {
            animation: blink 1.5s infinite;
          }
          .dot-2 {
            animation: blink 1.5s infinite 0.3s;
          }
          .dot-3 {
            animation: blink 1.5s infinite 0.6s;
          }
        </style>
      </div>
     )
    }
  </body>
</html>
